:root {
  /* default grey */
  --background-color: #eeeeee;
  --calculator-color: #cccccc;
  --calculator-border: #aaaaaa;
  --display-color: #eeeeee;
  --btn-color: #dddddd;
  --btn-border: #bbbbbb;
  --text-color: black;
  --display-text: black;
  --label-color: black;
}

body {
  background-color: var(--background-color);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
}
.screen {
  /* height: 100vh;
  width: 100vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.calc {
  width: 300px;
  height: 360px;
  background-color: var(--calculator-color);
  border: 5px solid var(--calculator-border);
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 4px;
  border-radius: 8px;
}
.display {
  height: 20%;
  background-color: var(--display-color);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 32px;
  padding: 4px;
  border-radius: 4px;
  color: var(--display-text);
}
.taskButton {
  height: 10%;
  display: flex;
  justify-content: flex-end;
  margin-right: 7px;
  margin-top: 6px;
  margin-bottom: 6px;
}
.clear {
  width: 30%;
  height: 100%;
}
.delete {
  width: 30%;
  height: 100%;
}
.mathButton {
  height: 60%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding: 4px;
}
button {
  background-color: var(--btn-color);
  outline: 3px solid var(--btn-border);
  border-radius: 8px;
  margin: 4px;
  border: none;
  font-size: large;
  color: var(--text-color);
}
button:hover{
font-size:1.4rem;

}
.numbtn {
  height: 44px;
  width: 60px;
}

.equal {
  height: 44px;
  width: 60px;
}
select {
  appearance: none;
  background-color: var(--btn-color);
  outline: 3px solid var(--calculator-border);
  border: none;
  padding: 4px;
  text-align: center;
  color: var(--text-color);
  border-radius: 4px;
  font-size: 1rem;
}
label {
  color: var(--label-color);
  font-size: 1.1rem;
  margin: 0px 4px;
}
