[data-theme="icy_grey"] {
  --background-color: #fff9fb;
  --calculator-color: #4b88a2;
  --calculator-border: #252627;
  --display-color: #d3d4d9;
  --btn-color: #d7d7d7;
  --btn-border: #252627;
  --text-color: black;
  --display-text: black;
}
[data-theme="mud_pink"] {
  --background-color: #ffdce1;
  --calculator-color: #b89685;
  --calculator-border: #504746;
  --display-color: #ddc9be;
  --btn-color: #fbb7c0;
  --btn-border: #b6244f;
  --text-color: rgb(0, 0, 0);
  --display-text: black;
}
[data-theme="dark_mode"] {
  --background-color: #000000;
  --calculator-color: #111111;
  --calculator-border: #7a7a7a;
  --display-color: #343434;
  --btn-color: #232323;
  --btn-border: #696969;
  --text-color: white;
  --display-text: white;
  --label-color: white;
}
[data-theme="playful_grid"] {
  --background-color: #f2f27f;

  --calculator-color: #ff680a;
  --calculator-border: #124de2;
  --display-color: #eeef20;
  --btn-color: #21a8fd;
  --btn-border: #124de2;
  --text-color: white;
  --display-text: black;
  --label-color: var(--btn-border);
}

[data-theme="soft_flow"] {
  --background-color: #f8f7ff;
  --calculator-color: #b8b8ff;
  --calculator-border: #9381ff;
  --display-color: #f8f7ff;
  --btn-color: #ffeedd;
  --btn-border: #ffd8be;
  --text-color: rgb(130, 130, 130);
  --display-text: rgb(134, 134, 134);
  --label-color: rgb(134, 134, 134);
}
[data-theme="nature_space"] {
  --background-color: #b2ff9e;
  --calculator-color: #1dd3b0;
  --calculator-border: #086375;
  --display-color: #b2ff9e;
  --btn-color: #3c1642;
  --btn-border: #affc41;
  --text-color: rgb(255, 255, 255);
  --display-text: rgb(0, 0, 0);
}
[data-theme="quite_orange"] {
  --background-color: #e7e7e7;
  --calculator-color: #fc7a1e;
  --calculator-border: #485696;
  --display-color: #e7e7e7;
  --btn-color: #485696;
  --btn-border: #e7e7e7;
  --text-color: rgb(255, 255, 255);
  --display-text: rgb(0, 0, 0);
}
[data-theme="blush_blush"] {
  --background-color: #efd6d2;
  --calculator-color: #ff8cc6;
  --calculator-border: #de369d;
  --display-color: #ffdde2;
  --btn-color: #de369d;
  --btn-border: #e7e7e7;
  --text-color: rgb(255, 255, 255);
  --display-text: rgb(0, 0, 0);
}
[data-theme="purple_page"] {
  --background-color: #b3c2f2;
  --calculator-color: #735cdd;
  --calculator-border: #37000a;
  --display-color: #b3c2f2;
  --btn-color: #7e007b;
  --btn-border: #37000a;
  --text-color: rgb(255, 255, 255);
  --display-text: rgb(0, 0, 0);
}
[data-theme="classic_dark"] {
  --background-color: #2f3061;
  --calculator-color: #343434;
  --calculator-border: #6ca6c1;
  --display-color: #ffe66d;
  --btn-color: #343434;
  --btn-border: #6ca6c1;
  --text-color: rgb(255, 255, 255);
  --display-text: rgb(0, 0, 0);
  --label-color: #b1b1b1;
}
[data-theme="working_line"] {
  --background-color: #f3efe0;
  --calculator-color: #7fefbd;
  --calculator-border: #000000;
  --display-color: #f3efe0;
  --btn-color: #cba135;
  --btn-border: #000000;
  --text-color: rgb(0, 0, 0);
  --display-text: rgb(0, 0, 0);
  --label-color: #000000;
}
[data-theme="joy_time"] {
  --background-color: #f49097;
  --calculator-color: #dfb2f4;
  --calculator-border: #55d6c2;
  --display-color: #f5e960;
  --btn-color: #55d6c2;
  --btn-border: #f2f5ff;
  --text-color: rgb(0, 0, 0);
  --display-text: rgb(0, 0, 0);
  --label-color: #000000;
}
